<header
  class="flex justify-between bg-indigo-600 p-5 items-center text-slate-200"
>
  <nav class="flex space-x-3">
    <h2>EnjoyBook</h2>
    <a routerLink="/" class="navlink">{{ "HEADER.BOOKS" | translate }}</a>
    <a
      *ngIf="(user | async)?.rol == 'Admin'"
      routerLink="/inventory"
      class="navlink"
      >{{ "HEADER.INVENTORY" | translate }}</a
    >
    <a
      *ngIf="(user | async)?.rol == 'Admin'"
      routerLink="/reports"
      class="navlink"
      >{{ "HEADER.REPORTS" | translate }}</a
    >
  </nav>
  <div class="space-x-2 flex">
    <button class="hover:text-white" (click)="changeLang()">EN/ES</button>
    <ng-container
      class="flex space-x-2"
      *ngIf="!(user | async); else userHeader"
    >
      <a routerLink="/auth/login" class="btn-indigo">Login</a>
      <a routerLink="/auth/register" class="btn-indigo-alter">Register</a>
    </ng-container>
    <ng-template #userHeader class="flex space-x-2">
      <a routerLink="/user" class="my-auto hover:text-white cursor-pointer">
        {{ (user | async)?.username }}
      </a>
      <button (click)="logout()" class="btn-indigo-alter">Logout</button>
    </ng-template>
  </div>
</header>
<main class="container mx-auto">
  <router-outlet></router-outlet>
</main>
